@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    top: 20;
    text-align: center;
    font-size: 2em;
    
}

a
{
	display:  inline-block;
	text-decoration: none;
}


header
{
	padding: 15px 0;
	position: fixed;
	top: 20;
	left: 0;
	z-index: 2;
	width: 100%;
	background-color: rgb(119, 192, 131);
	width: 100%;
}


header .container
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .container nav a
{
	color: red;
	text-decoration: none;
	margin: 0 15px;
}



.vis{
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    width: 6em;
    height: 6em;
    border: 2px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(95, 38, 38);
}

/* #18A5C4*/
.visualizar{
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    width: 6em;
    height: 6em;
    border: 2px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

#color{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}